<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.SectionDao">
    <!--添加-->
    <insert id="add" parameterType="Carousel">
        insert into section(id,section.name,siza,downlad,date,duration,album_id) values (#{id},#{name},#{siza},#{downlad},#{date},#{duration},#{album_id})
    </insert>

</mapper>
